@import url('./destyle.css');

@font-face {
  font-family: "KTEGAKI";
  src: url("/fonts/KTEGAKI.woff") format("woff"),
    url("/fonts/KTEGAKI.ttf") format("truetype");
}

:root {
  --container-width: 960px;
  --container-padding: 1rem;

  /* colors */
  --base-font-color: #333333;
  --main-color: #c1c153;
  --secondary-color: #f4f4a0;
  --base-color: #ffffe0;
  --accent-color: #9b1f13;
	--accent-pale-color: #FFD1CC;

  /* font */
	--font-design-main: 'KTEGAKI', serif;
}

*{
	box-sizing: border-box;
	/* outline: auto; */
}



html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Open Sans", Arial, Helvetica, sans-seriffont-family;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

img{
	width: 100%;
}
html {
	scroll-behavior: smooth;
}

