---
import Background from "../parts/Background.astro";
import SectionLead from "../parts/SectionLead.astro";
const headingText = "みっちゃんについて";
---

<Background name="about" bgType="toDark" headingText={headingText}>
  <SectionLead>
    <p>
      創業者のみっちゃんは、<br>
			地元では けっこう有名人です。<br>
			 ファミリーマート沖縄<br>
      SPAMのCM<br>
			明石家さんまさんのTV番組<br>
			などに出演したことがあります。
    </p>
  </SectionLead>
	<ul class="movie-list">
		<li class="movie-item">
			<figure class="movie">
				<iframe src="https://www.youtube.com/embed/iS8QApqILF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<figcaption>
					沖縄ファミマ フラチキ先輩「フラチキパック注文」篇(15秒)
				</figcaption>
			</figure>
		</li>
		<li class="movie-item">
			<figure class="movie">
				<iframe src="https://www.youtube.com/embed/Zd0w2plXtA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<figcaption>
					TULIPポークランチョンミートTVCM 2017年4月28日
				</figcaption>
			</figure>
		</li>
		<li class="movie-item">
			<figure class="movie">
				<iframe src="https://www.youtube.com/embed/iS8QApqILF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<figcaption>
					さんまさんのTV番組に出演
				</figcaption>
			</figure>
		</li>

	</ul>
</Background>

<style>

	ul{
		display: flex;
		gap: 5%;
	}
  li{
		flex: 1;
	}
	figcaption{
		margin-top: 16px;
		font-size: 2.0rem;
	}
	iframe{
		width: 100%;
	}
</style>
