---
import Button from "../Button.astro";
import Background from "../parts/Background.astro";
const headingText = 'お問い合わせ'
---
<Background
name="contact"
bgType="solidWhite"
headingText = {headingText}
>

<form action="https://ssgform.com/s/HvOwk57yuFMz" method="post">
  <div style="display: none;">
    <input type="text" name="wana" />
  </div><!-- name="wana"を見えない状態で設置 -->
	<div class="form-block">
		<div class="item-wrapper">
			<label for="name">
				お名前（必須）
			</label>
			<input id="name" type="text" name="お名前" required="required" />
		</div>
		<div class="item-wrapper">
			<label for="email">
				メールアドレス（必須）
			</label>
			<input id="email" type="email" name="メールアドレス" required="required" />
		</div>
		<div class="item-wrapper">
			<label for="tel">
				電話番号（必須）
			</label>
			<input id="tel" type="tel" name="電話番号" required="required" />
		</div>
		<div class="item-wrapper --textarea">
			<label for="content">
				お問い合わせ内容（必須）
			</label>
			<textarea id="content" name="お問い合わせ内容" required="required" rows="5"></textarea>
		</div>
		<button type="submit">送信する</button>
	</div>
</form>

</Background>


<style>
	.form-block{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.item-wrapper{
		display: flex;
		align-items: center;
		gap: 20px;
		width: 100%;
	}
	.item-wrapper.--textarea{
		align-items: flex-start;
	}
	.item-wrapper + div{
		margin-top: 40px;
	}
	label{
		font-size: 20px;
		width: 200px;
		width: 30%;
		text-align: right;
	}
  input,
  textarea {
		display: block;
    border: 1px solid #333;
		border-radius: 5px;;
    font-size: 2rem;
		padding: .5em .5em;
		width: 400px;
		width: 60%;
  }


	button{
		margin-top: 40px;
		font-size: 2.0rem;
		padding: .5em 3em;
		background-color: var(--main-color);
		color: #fff;

	}

	button:hover{
		opacity: .6;
	}



	@media screen and (max-width: 768px) {
		.item-wrapper{
			flex-direction: column;
		}
		label,input,textarea{
			width: 100%;
		}
		label{
			text-align: left;
		}
}

</style>
