---
import Button from "../Button.astro";
import InfoArticle from "../InfoArticle.astro";
import Background from "../parts/Background.astro";
import SectionHeading from "../parts/SectionHeading.astro";
//microCMS呼び出し

const headingText = 'What\'s New'
---
<Background
name="info"
bgType="solidCream"
headingText = {headingText}
>

<InfoArticle />

<div class="buttonWrapper">
	<Button
		text="お知らせ一覧"
		path="info/"
		cls="forInfoListing"
	/>

</div>

</Background>

<style>
	.buttonWrapper{
		margin-top: 42px;
		display: flex;
		justify-content: center;
	}

	</style>
