---
import introImage from "../../images/micchan.png";
import Button from "../Button.astro";
import { Image } from "@astrojs/image/components";
console.log(introImage)
---

<section class="intro">
  <div class="intro__inner">
    <figure class="intro__image">
      <!-- <img src={introImage.src} alt="みっちゃん" /> -->
			<img src={introImage} />
    </figure>
    <div class="intro__text">
      <p>
				仕出し・お弁当・オードブルのみっちゃんです。<br>
				那覇市宇栄原で５０年<br>
				地元のみなさんに支えられてきました。
			</p>
			<p>
				ばあちゃんたちが厨房でがんばっています。<br>
				伝統的な沖縄の味を<br>
				多くの人にお届けできるように<br>
				これからもがんばってまいります。
			</p>
			<div class="button">
				<Button
					text='店主のごあいさつ'
					cls='forDetail'
					path='/about'
				/>
			</div>
    </div>
  </div>
</section>

<style>
  img {
    width: 100%;
		height: 100%;
		object-fit: cover;
  }
  .intro__inner {
    display: flex;
    align-items: flex-start;
  }
  .intro__inner * {
    flex: 1;
  }
  .intro__text {
    font-size: 2rem;
    line-height: 2;
  }
  p {
    margin-top: 32px;
  }

	.button{
		margin-top: 24px;
	display: flex;
	justify-content: flex-end;
	}

	@media screen and (max-width: 768px) {
		.intro__inner{
			flex-direction: column;
		}
								}
</style>
