---
import Background from "../parts/Background.astro";
import SectionLead from "../parts/SectionLead.astro";
const headingText = "メニューのご紹介";
---

<Background name="about" bgType="toDark" headingText={headingText}>
  <SectionLead>
    <p>
      ばあちゃんたちが作る<br>
			昔ながらの沖縄定番料理<br>
			会議のときのお昼ごはんに<br>
      トゥシビー、結納などのお祝いに<br>
			メニューなどもぜひご相談ください。
    </p>
  </SectionLead>

</Background>

<style>

</style>
