---

---
<section class="recruit">
	<h2>一緒に働く仲間を募集中です</h2>
	<p>みっちゃんでは、今、一緒に働いてくれる仲間を募集しています。</p>
	<h3>募集詳細</h3>
	<dl>
		<dt>勤務形態</dt>
		<dd>パートタイム</dd>
		<dt>勤務地</dt>
		<dd></dd>
		<dt>時給</dt>
		<dd></dd>
		<dt>勤務時間</dt>
		<dd></dd>
		<dt>業務内容</dt>
		<dd></dd>
	</dl>
	<h3>応募方法</h3>
</section>
