---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Astro Minimal Starter",
  description: "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support."
  }
---

<Layout
  seo={seo}
>
  <Container>
    <h1>みっちゃん</h1>
    <p>
     コンテンツ
    </p>

  </Container>
</Layout>
