---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import FV from "../components/sections/FV.astro";
import Intro from "../components/sections/Intro.astro";
import About from "../components/sections/About.astro";
import Menu from "../components/sections/Menu.astro";
import Info from "../components/sections/Info.astro";
import Access from "../components/sections/Access.astro";
import Contact from "../components/sections/Contact.astro";

import { getBlogs } from "../library/microcms";
import Loading from "../components/Loading.astro";

const seo = {
  title: "HOME｜みっちゃん",
  description:
    "沖縄県那覇市宇栄原で50年営業している仕出し、弁当、オードブルのお店です。",
};
---

<Layout {seo}>
  <div id="loader">
    <Loading />
  </div>
  <Container>
    <FV />
    <Intro />
    <About />
    <Menu />
    <Info />
    <Access />
    <Contact />
  </Container>
</Layout>

<script src="../scripts/top.js"></script>
<script>
  window.onload = () => {
    const loader = document.getElementById("loader");
    loader.classList.add("loaded");
  };
</script>

<style>
  html {
    scroll-behavior: smooth;
  }

  .loaded {
    display: none;
  }
</style>
