---
import Button from "./Button.astro";
const {className} = Astro.props;
---

<div class={className}>
	<Button
	text='フォームで問い合わせ'
	cls='forContactForm'/>
	<Button
	text='お電話で問い合わせ'
	cls='forTel'/>
</div>

<style>
	.buttonContainerHeader{
		width: 90%;
		display: flex;
		margin-left: auto;
		gap: 8px;
		margin-bottom: 12px;
	}

	.buttonContainerSection{
		margin-top: 42px;
		gap: 8px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

</style>
