---
import Button from "./Button.astro";
---

<div class="buttonContainer">
	<Button
	text='フォームで問い合わせ'
	cls='forContactForm'/>
	<Button
	text='お電話で問い合わせ'
	cls='forTel'/>
</div>

<style>
	.buttonContainer{
		width: 90%;
		display: flex;
		margin-left: auto;
		gap: 8px;
		margin-bottom: 12px;
	}

</style>
