---
import Button from "./Button.astro";
const {className} = Astro.props;
---

<div class={className}>
	<Button
	text='フォームで問い合わせ'
	cls='forContactForm'
	path='#contact'/>
	<Button
	text='お電話で問い合わせ'
	cls='forTel'
	path='tel:098-857-7606' />
</div>

<style>
	.buttonContainerHeader{
		width: 90%;
		display: flex;
		justify-content: flex-end;
		margin-left: auto;
		gap: 8px;
		margin-bottom: 12px;
	}

	.buttonContainerSection{
		margin-top: 42px;
		gap: 8px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	@media screen and (max-width: 768px) {
		.buttonContainerHeader{
			flex-direction: column;
		}
		.buttonContainerSection{
		flex-direction: column;
		align-items: center;
		}
								}

</style>
