---
import Button from "./Button.astro";
const {className} = Astro.props;
---

<div class={className}>
	<Button
	text='フォームで問い合わせ'
	cls='forContactForm'
	path='https://forms.gle/mq96vvr7MZ1HFBWH7'/>
	<Button
	text='お電話で問い合わせ'
	cls='forTel'
	path='tel:090-1875-3314' />
</div>

<style>
	.buttonContainerHeader{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-left: auto;
		gap: 8px;
		padding-bottom: 32px;
	}

	@media screen and (max-width: 768px) {
		.buttonContainerHeader{
			background-color: #f4f4a0;
		}
								}


	.buttonContainerSection{
		margin-top: 42px;
		gap: 8px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	@media screen and (max-width: 768px) {
		.buttonContainerHeader{
			flex-direction: column;
			margin-right: auto;
			align-items: center;
		}
		.buttonContainerSection{
		flex-direction: column;
		align-items: center;
		}
								}

</style>
