---
const {className} = Astro.props;
---

<ul class={className}>
  <li>
    <a href="#"> トップ </a>
  </li>
  <li>
    <a href="#about"> みっちゃんについて </a>
  </li>
  <li>
    <a href="#menu"> メニューのご紹介 </a>
  </li>
  <li>
    <a href="#info"> お知らせ </a>
  </li>
  <li>
    <a href="#access"> アクセス </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: space-between;
		font-size: 1.6rem;
  }

	.footer{
		justify-content: flex-start;
		gap: 20px;
	}


</style>
