---
---

<ul>
  <li>
    <a href=""> トップ </a>
  </li>
  <li>
    <a href=""> みっちゃんについて </a>
  </li>
  <li>
    <a href=""> メニューのご紹介 </a>
  </li>
  <li>
    <a href=""> お知らせ </a>
  </li>
  <li>
    <a href=""> アクセス </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: space-between;
		font-size: 1.6rem;
  }
</style>
