---
const {className} = Astro.props;
---

<ul class={className}>
  <li>
    <a href="/#"> トップ </a>
  </li>
  <li>
    <a href="/#about"> みっちゃんについて </a>
  </li>
  <li>
    <a href="/#menu"> メニューのご紹介 </a>
  </li>
  <li>
    <a href="/#info"> お知らせ </a>
  </li>
  <li>
    <a href="/#access"> アクセス </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: flex-end;
		font-size: 1.6rem;
		font-size: clamp(1.2rem,1.6vw,2rem);
  }
	li+li{
		margin-left: 5%;
	}


	.footer{
		justify-content: flex-start;
		gap: 20px;
		margin-left: 42px;
	}
	@media screen and (max-width: 768px) {
		.footer{
			flex-direction: column;
			align-items: center;
			font-size: 2rem;
			margin-left: 0;
		}
		.footer li{
			margin-left: 0;
		}
								}


</style>
