---
import logoImage from '/src/images/header-logo.png'
import logoImageWebp from '/src/images/header-logo.webp'
---

<h1>
	<a href="/#">
		<picture>
			<source srcset={logoImageWebp} type="image/webp" >
			<img src={logoImage} alt="仕出し・弁当・オードブル　みっちゃん" />
		</picture>
	</a>
</h1>

<style>

</style>
