---
import logoImage from '../images/micchan.png'
---

<h1>
	<div class="image-block">
		<img src={logoImage} alt="仕出し・弁当・オードブル　みっちゃん" />
	</div>
  <div class="text-block">
		<span class="row2">仕出し・弁当・オードブル</span>
    <span class="row3">みっちゃん</span>
    <span class="row1">愛されて50年</span>
  </div>
</h1>

<style>
	h1{
		display: flex;
		align-items: center;
		width: 100%;
	}
	img{
		width: 100%;
	}
	span{
		display: block;
	}
	.image-block{
		width: 120px;
	}

  .row1 {
		font-family: 'KTEGAKI', san-serif;
		font-size: 20px;
		margin-top: -8px;
  }
  .row2 {
		font-size: 14px;
  }
  .row3 {
		font-family: 'KTEGAKI', san-serif;
    font-size: 52px;
		margin-top: -8px;
  }
</style>
