---
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title","content","image"],limit: 3 });

// const allinfos = await Astro.glob('../pages/info/*.md');
// allinfos.forEach((el)=>{
// 	console.log(el.Content)
// })


---

<ul>

	{response.contents.map((info)=>{
		const contentText = info.content.replace(/(<([^>]+)>)/gi, '');
		const linkText = 'info/' + info.id;
		return (
		<li>
			<a href={linkText}>
				<div class="text-block">
					<h2>
						<span>
							{info.title}
						</span>
					</h2>
					<p>
						{contentText}
						</p>
				</div>
				<figure>
					<img src={info.image.url} alt="">
				</figure>

				</a>
		</li>
	)})}
</ul>


<style>
li{
	display: flex;
	padding: 36px 8%;
	border-top: 1px solid #333;
}

a {
	display: flex;
}

li:last-of-type{
	border-bottom: 1px solid #333;
}
.text-block {
	width: 70%;
}

h2{
	width: fit-content;
	margin-right: auto;
	position: relative;
}
p{
	height: 100px;
	line-height: 1.8;
	margin-top: 36px;
	padding-right: 24px;
	font-size: 20px;
	/* 三点リーダー対応 */
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  overflow: hidden;
}
span{
	font-size: 3.2rem;
	font-family: var(--font-design-main);
	position: relative;
	z-index: 2
}
h2::before{
		content: '';
		position: absolute;
		transform: translate(-50%,-20%);
		display: block;
		background-image: url(../images/heading-mark.svg);
		background-size: contain;
		width: 80px;
		height: 60px;
		z-index: 1;
	}
.text-block p{

}
figure{
	width: 30%;
}

</style>
