---
import menuUsual from "../data/menuUsual";
import ButtonWrapper from "./ButtonWrapper.astro";

// menuUsual.forEach((el)=>{
// 	console.log(el)
// })

---



<ul class="menu-usual">
	{
		menuUsual.map((item)=>(
		<li>
			<figure>
				<img src={`assets/menuUsual/${item.path}.png`} alt="" />
				<figcaption>{item.name}</figcaption>
			</figure>
		</li>
		))
	}
</ul>


<style>
ul{
	display: flex;
	flex-wrap: wrap;
	row-gap: 32px;
	column-gap: 2%;;
	margin-right: auto;
	margin-left: auto;
}
li{

	width: 18%;
}
figcaption{
	width: 80%;
	font-size: 14px;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 768px) {
	ul{
		justify-content: center;
	}
	li{
		width: 45%;
	}
}

</style>
