---
---
<div class="swiper-wrapper">
	<div class="swiper-slide">
		<div class="text-layout">
			<h1>
				<span>創業50年</span>
				<span>宇栄原の仕出し屋</span>
			</h1>
			<p>
				地元ではけっこう有名です<br />
				毎日、朝早くから頑張ってます<br />
				沖縄のおばーはみんな元気です
			</p>
		</div>
	</div>
	<div class="swiper-slide">
		<div class="text-layout">
			<h1>
				<span>ばあちゃんたちが</span>
				<span>がんばるお店</span>
			</h1>
			<p>
				弁当作りが<br />
				おばーたちの日課です<br />
				昔ながらの沖縄料理を<br />
				提供します
			</p>
		</div>
	</div>
	<div class="swiper-slide">
		<div class="text-layout">
			<h1>
				<span>沖縄伝統料理で</span>
				<span>お祝いを</span>
			</h1>
			<p>
				人生の節目を<br />
				おばーの味で<br />
				祝いませんか？
			</p>
		</div>
	</div>

</div>

<style>
  .text-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
		background-color: var(--base-color);
  }
  h1 {
    position: relative;
		transform: translateX(32px);
  }
  h1 span {
		font-family: var(--font-design-main);
    font-size: 4rem;
  }
  h1::before {
		content: "";
    position: absolute;
    transform: translate(-30%, -30%);
    display: block;
    background-image: url(../../images/heading-mark.svg);
    background-size: contain;
    width: 120px;
    height: 90px;
  }
  span {
		display: block;
    position: relative;
    z-index: 1;
  }
  p {
		margin-top: 40px;
		transform: translateX(32px);
    font-size: 2rem;
    line-height: 2;
  }
</style>
