---
const {text, align} = Astro.props

---

<div class="section-heading">
	<h1 class={align}>
		<span>
			{text}
		</span>
	</h1>
</div>


<style>
.section-heading{
	margin-top: 100px;
	margin-bottom: 100px;
}
h1{
	width: fit-content;
	margin-right: auto;
	position: relative;
}
.center{
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 768px) {
	.center{
		margin-top: 60px;
	}
}

span{
	font-size: 4.2rem;
	font-family: var(--font-design-main);
	position: relative;
	z-index: 2
}
h1::before{
	content: '';
	position: absolute;
	transform: translate(-50%,-10%);
	display: block;
	background-image: url(../../images/heading-mark--pink.png);
	background-size: contain;
	width: 80px;
	height: 60px;
	z-index: 1;
}
@media screen and (max-width: 768px) {
	.section-heading{
		margin-top: 0px;
		margin-bottom: 48px;
	}
	span{
		font-size: 2.8rem;
	}
	h1::before{
		transform: translate(-50%,-20%);
	}
}
</style>
